.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

  .loginCard {
    background-color: white;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;

    &.error {
      border: 2px solid red;
    }
  }
}
